<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculadora de sueldo neto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor=#aaaaff>
<font color="Black">
	<h1>Calcula Sueldo Iva</h1>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p><h4>Ingrese el valor del producto: $  <input type="text" size="10" th:field="*{producto}"/ </p>
		<p>Iva del producto:        <span  th:text="  ' $  ' + ${greeting.iva}"</p>
		<p><h2>Valor final: :        <span  th:text="  ' $  ' + ${greeting.Vfinal}"</h2></p>

		
        <p><input type="submit" value="Calcular" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>